name: expandtesting
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.18.0'
      
      - name: Install dependencies
        run: npm install
      
      - name: Create .env file
        run: |
          echo "${{ secrets.JIRA_ENV_SECRETS }}" > .env
      
      - name: Run tests with JIRA reporter
        run: npm run test:jira
      
      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            ./results/report.html
            ./results/report.xml